/* You can add global styles to this file, and also import other style files */

.invalid-feedback {
  font-size: 90%;
}

input.ng-dirty.ng-invalid + .invalid-feedback {
  display: block;
}

.ng-submitted .invalid-feedback {
  display: block;
}
